{
  "extends": "./packages/eslint-config-yoshi/index.js",
  "overrides": [
    {
      "files": ["test/kitchensink/**/*"],
      "rules": {
        "import/no-unresolved": 0
      }
    },
    {
      "files": ["website/**/*"],
      "rules": {
        "import/no-unresolved": 0
      }
    },
    {
      "files": ["packages/create-yoshi-app/templates/**/*"],
      "rules": {
        "import/no-unresolved": 0
      },
      "globals": {
        "app": false
      }
    }
  ]
}
