fixtures
node_modules
dist
build
packages/eslint-config-yoshi/__tests__/rules
test/projects/*/src/errors
packages/create-yoshi-app/templates/business-manager-module/javascript/src/config.js
packages/tslint-config-yoshi/__tests__/rules
