{
    "extends": "./packages/eslint-config-yoshi-base/index.js",
    "plugins": [
      "mocha"
    ],
    "rules": {
      "mocha/no-exclusive-tests": "error",
      "mocha/no-identical-title": "error"
    }
}
