{
  "extends": "./packages/eslint-config-yoshi/index.js",
  "rules": {
    "import/no-extraneous-dependencies": "error"
  },
  "settings": {
    "react": {
      "version": "latest"
    }
  },
  "overrides": [
    {
      "files": [
        "packages/yoshi/test/**/*"
      ],
      "env": {
        "mocha": true
      },
      "rules": {
        "no-unused-expressions": "off"
      }
    },
    {
      "files": [
        "test/projects/**/*"
      ],
      "rules": {
        "import/no-unresolved": 0,
        "import/no-extraneous-dependencies": 0
      }
    },
    {
      "files": [
        "website/**/*"
      ],
      "rules": {
        "import/no-unresolved": 0,
        "import/no-extraneous-dependencies": 0
      }
    },
    {
      "files": [
        "packages/create-yoshi-app/templates/**/*"
      ],
      "rules": {
        "import/no-unresolved": 0,
        "import/no-extraneous-dependencies": 0
      },
      "globals": {
        "app": false,
        "testKitEnv": false
      }
    }
  ]
}