:import {
  -st-from: 'wix-ui-core/dist/src/components/button-next/button-next.st.css';
  -st-default: Button;
}

.root {
  --backgroundColor: "color(color-2)";
  --fontSize: "font(Body-M)";
  text-align: center;
}

.header {
  background-color: "color(--backgroundColor)";
  font: "font(--fontSize)";
  padding: 10px;
  color: white;
}

.mainButton {
  -st-extends: Button;
  background-color: "color(color-6)";
  padding: 0 20px;
  height: 30px;
  margin-top: 20px;
  border-radius: 10px;
  color: white;
}
